body {
    margin: 0;
    padding: 0;
    background-color: #f4f7fc;
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
}

.main-container {
    flex: 1;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    margin-top:80px;
    height: 1400px;
}

.side-wrapper {
    width: 350px;
    margin: 20px 20px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top:80px;

}

.side-container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    height: 50%;
    overflow-y: auto;
}

.page-title h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}

#calendar {
    width: 100%;
    height: calc(100% - 60px);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.booking-summary {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 6px;
    background: #f9f9f9;
}

.booking-summary strong {
    font-size: 0.95rem;
}

.booking-summary small {
    font-size: 0.85rem;
    color: #555;
}